
/* Your CSS Code here. */
*{
    padding: 0;
    margin: 0;
}
	.col-1{
    padding:1px;
    display: inline-block;
}

.col-sm-1{
    display:inline-block;
    flex-direction:row;
	 width:100px;
    height:100px;
    padding: 1px;
}
.col-2{
    padding:1px;
    display: inline-block;
}

.col-sm-2{
    display:inline-block;
    flex-direction: row;
 width:100px;
    height:100px;
    padding: 1px;
}
.col-4{
    padding:1px;
    display: inline-block;
}

.col-sm-4{
    display:inline-block;
	 padding: 1px;
    flex-direction: row;
	 width:100px;
    height:100px;
    padding: 1px;
}
img{
    padding:1px;
    display: inline-block;
}

.col-sm-12{
	 display:inline-block;
    flex-direction: row;
	 width:100px;
    height:100px;
    padding: 1px;	
}