
/* Your CSS Code here. */
*{
    padding: 0;
    margin: 0;
}

.col-sm-1 img{
	
	width:100px;
	height:100px;
}
div > .row{
	margin-top:15px;
}
.col-sm-2 img{
	
    width:100px;
    height:100px;

}
.col-sm-4 img{
	
    width:100px;
    height:100px;

}
.col-sm-12 img{
	

}