
/* Your CSS Code here. */
*{
    padding: 0;
    margin: 0;
}
.col-sm-1{
    display:inline-block;
    flex-direction:row;
	 width:100px;
    height:100px;
    padding: 1px;
}

.col-sm-2{
    display:inline-block;
    flex-direction: row;
 width:100px;
    height:100px;
    padding: 1px;
}
.col-sm-4{
    display:inline-block;
    flex-direction: row;
	 width:100px;
    height:100px;
    padding: 1px;
}
.col-sm-12{
	 display:inline-block;
    flex-direction: row;
	 width:100px;
    height:100px;
    padding: 1px;	
}